extends layout
include _includes/sharedHTMLfunctions

block content
    section
        .container
            .row
                .col-xs-12.col-sm-12.col-md-2.danh-muc
                    .art-vmenublockheader
                        h3.text-center danh mục sản phẩm
                    ul.category
                        li.title-category Lúa gạo
                        ul.content-category
                            li + Gạo Khang Dân
                            li + Gạo Dẻ
                            li + Gạo Thơm
                            li + Gạo Tấm
                            li + Gạo Nếp
                        li.title-category Thức ăn chăn nuôi
                        ul.content-category
                            li + Mới tách mẹ
                            li + Sau 2 tháng
                            li + Sau 4 tháng
                            li + Sau 6 tháng
                            li + Chuẩn bị xuất chuồng
                .col-xs-12.col-sm-12.col-md-10.slide-img
                    #myCarousel.carousel.slide.carousel-fade(data-ride='carousel', data-interval='2000')
                        ol.carousel-indicators
                            li.active(data-target='#myCarousel', data-slide-to='0')
                            li(data-target='#myCarousel', data-slide-to='1')
                            li(data-target='#myCarousel', data-slide-to='2')
                        .carousel-inner
                            .carousel-item.active
                                img.d-block.w-100(src='/images/BH-đại-lý-khoai-tây.jpg', alt='Đại lý Khoai Tây Quảng Trị')
                            .carousel-item
                                img.d-block.w-100(src='/images/mat-tien-1.jpg', alt='Cửa hàng Khoai Tây')
                            .carousel-item
                                img.d-block.w-100(src='/images/mat-tien-2.jpg', alt='Xay xát lúa gạo')
                        a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#myCarousel', role='button', data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next
                            
        .container.wrapper
            .row.four-blocks.text-center
                .col-6.col-sm-3.four_box.block-1
                    p.img-play
                        img(src='/images/dinh-duong.jpg', alt='Dinh dưỡng')
                    h2 Dinh Dưỡng
                    .block-one-des
                        | Đại lý Khoai Tây là đại lý gạo uy tín cung cấp gạo dinh dưỡng có xuất xứ và nguồn gốc rõ ràng
                .col-6.col-sm-3.four_box.block-2
                    p.img-play
                        img.img-format(src='/images/tien-loi.png', alt='Tiện lơi')
                    h2 Tiện lợi
                    .block-one-des
                        | Đại lý Khoai Tây giao hàng tận nơi, nhanh chóng tới khách hàng bất kể nắng hay mưa, xa hay gần
                .col-6.col-sm-3.four_box.block-3
                    p.img-play
                        img(src='/images/uy-tin.jpg', alt='Uy tín')
                    h2 Uy tín
                    .block-one-des
                        | Đại lý Khoai Tây làm việc và kinh doanh dựa sản phầm chất lượng và uy tín bền vừng với khách hàng
                .col-6.col-sm-3.four_box.block-4
                    p.img-play
                        img(src='/images/an-toan.jpg', alt='An toàn')
                    h2 An toàn
                    .block-one-des
                        | Đại lý Khoai Tây cam kết đem tới sản phẩm gạo an toàn và được người dung đánh giá tốt


    main.container
                .row
                    .col-xs-12.col-sm-12.col-md-2.tintuc-1
                        .art-layout-cell.art-sidebar1
                            .art-vmenublock.clearfix
                                .art-vmenublockheader
                                    h3.t Lĩnh vực hoạt động
                                .art-vmenublockcontent
                                    ul.art-vmenu
                                        li
                                            a(href='#') Sản xuất trấu viên
                                        li
                                            a(href='#') Thương Mại
                            .art-vmenublock.clearfix
                                .art-vmenublockheader
                                    h3.t Tổng Quan
                                .art-vmenublockcontent
                                    ul.art-vmenu
                                        li
                                            a(href='#') Giới thiệu công ty
                                        li
                                            a(href='#') Tầm nhìn - Sứ mệnh
                                        li
                                            a(href='#') Hoạt động công ty
                                        li
                                            a(href='#') Phương thức thanh toán
                            .art-block.clearfix
                                .art-vmenublockheader
                                    h3.t Hỗ trợ khách hàng
                                .hotro.bg-white
                                    img(src='/images/ho-tro-khach-hang.png', alt='Hỗ trợ khách hàng')
                                    a(href='tel:01667588955') 0367.588.955
                    .col-xs-12.col-sm-12.col-md-8.content
                        #myBtn
                            button.btnSearch.active(onclick="filterSelection('all')")  Tất cả
                            button.btnSearch(onclick="filterSelection('khangdan')")  Gạo khang dân
                            button.btnSearch(onclick="filterSelection('deo')")  Gạo dẻo
                            button.btnSearch(onclick="filterSelection('thom')")  Gạo thơm
                            button.btnSearch(onclick="filterSelection('tam')")  Gạo tấm
                            button.btnSearch(onclick="filterSelection('nep')")  Gạo nếp
                            button.btnSearch(onclick="filterSelection('lut')")  Gạo lứt
                            button.btnSearch(onclick="filterSelection('lon')")  Bột lợn
                            button.btnSearch(onclick="filterSelection('ga')")  Bột gà
                            button.btnSearch(onclick="filterSelection('vit')")  Bột vịt
                            button.btnSearch(onclick="filterSelection('cam')")  Cám
                        .title-product
                            span
                                i.fab.fa-product-hunt
                                |  Sản Phẩm Lúa Gạo
                        .row.content-product
                            +showListSanPham(listSanPham)
                            .col-6.col-md-3.product.khangdan
                                .img-pro
                                    img(src='/images/gokhangdan.jpg', alt='')
                                ul
                                    li
                                        span.price 460.000 đ/ 50Kg
                                    li
                                        a(href='#') Gạo khang dân
                                    li
                                        i.fas.fa-check
                                        p Hết hàng
                                        a.btn.btn-success(href="/add-to-cart/5c07543c7667fb3420e456db", onclick='onClick()') Thêm vào đơn
                            .col-6.col-md-3.product.deo
                                .img-pro
                                    img(src='/images/gao-deo.jpg', alt='')
                                ul
                                    li
                                        span.price 500.000 đ/ 50Kg
                                    li
                                        a(href='#') Gạo dẻo
                                    li
                                        i.fas.fa-check
                                        p Còn hàng
                                        button.button.btn-success(onclick='onClick()') Thêm vào đơn
                            .col-6.col-md-3.product.khangdan
                                .img-pro
                                    img(src='/images/gao-khang-dan.jpg', alt='')
                                ul
                                    li
                                        span.price 35.000 đ/ 10Kg
                                    li
                                        a(href='#') Gạo khang dân lẻ
                                    li
                                        i.fas.fa-check
                                        p Còn hàng
                                        button.button.btn-success(onclick='onClick()') Thêm vào đơn
                            .col-6.col-md-3.product.nep
                                .img-pro
                                    img(src='/images/gao-nep-bac.jpg', alt='')
                                ul
                                    li
                                        span.price 220.000 đ/ 10Kg
                                    li
                                        a(href='#') Gạo nếp
                                    li.put
                                        i.fas.fa-check
                                        p Còn hàng
                                        button.button.btn-success(onclick='onClick()') Thêm vào đơn
                            .col-6.col-md-3.product.lut
                                .img-pro
                                    img(src='/images/gao-lut-huyet-rong.jpg', alt='')
                                ul
                                    li
                                        span.price 175.000 đ/ 5Kg
                                    li
                                        a(href='#') Gạo lứt huyết rồng
                                    li
                                        i.fas.fa-check
                                        p Còn hàng
                                        button.button.btn-success(onclick='onClick()') Thêm vào đơn
                            .col-6.col-md-3.product.thom
                                .img-pro
                                    img(src='/images/gao-thom.jpg', alt='')
                                ul
                                    li
                                        span.price 510.000 đ/ 50Kg
                                    li
                                        a(href='#') Gạo thơm
                                    li
                                        i.fas.fa-check
                                        p Hết hàng
                                        button.button.btn-success(onclick='onClick()') Thêm vào đơn
                            .col-6.col-md-3.product.tam
                                .img-pro
                                    img(src='/images/gao-tam.jpg', alt='')
                                ul
                                    li
                                        span.price 520.000 đ/ 50Kg
                                    li
                                        a(href='#') Gạo tấm
                                    li.put
                                        i.fas.fa-check
                                        p Còn hàng
                                        button.button.btn-success(onclick='onClick()') Thêm vào đơn
                            .col-6.col-md-3.product.nep
                                .img-pro
                                    img(src='/images/gao-nep.jpg', alt='')
                                ul
                                    li
                                        span.price 480.000 đ/ 50Kg
                                    li
                                        a(href='#') Gạo nếp
                                    li.put
                                        i.fas.fa-check
                                        p Còn hàng
                                        button.button.btn-success(onclick='onClick()') Thêm vào đơn
                            .col-6.col-md-3.product.thom
                                .img-pro
                                    img(src='/images/gao-lai-sua.jpg', alt='')
                                ul
                                    li
                                        span.price 140.000 đ/ 10Kg
                                    li
                                        a(href='#') Gạo thơm lài
                                    li
                                        i.fas.fa-check
                                        p Hết hàng
                                        button.button.btn-success(onclick='onClick()') Thêm vào đơn
                            .col-6.col-md-3.product.lut
                                .img-pro
                                    img(src='/images/gao-lut-an-lien.png', alt='')
                                ul
                                    li
                                        span.price 155.000 đ/ 5Kg
                                    li
                                        a(href='#') Gạo lứt ăn liền
                                    li
                                        i.fas.fa-check
                                        p Còn hàng
                                        button.button.btn-success(onclick='onClick()') Thêm vào đơn
                        .row.content-product
                            .col-12.col-md-6
                                .title-product
                                    span
                                        i.fas.fa-piggy-bank
                                        |  Thức Ăn Cho gia súc
                                .col-12.product.product-catalog.lon
                                    .img-pro.format-img
                                        img(src='/images/thuc-an-heo-con.png', alt='')
                                    .format-put
                                        ul
                                            li
                                                a(href='#') Bột cho lợn con
                                            li
                                                span.price 330.000 đ/ 25Kg
                                            li
                                                i.fas.fa-check
                                                p Còn hàng
                                            li
                                                button.button.btn-success(onclick='onClick()') Thêm vào đơn
                                .col-12.product.product-catalog.lon
                                    .img-pro.format-img
                                        img(src='/images/bot-dam-dac-cho-lon.png', alt='')
                                    .format-put
                                        ul
                                            li
                                                a(href='#') Bột cho lợn choai
                                            li
                                                span.price 250.000 đ/ 25Kg
                                            li
                                                i.fas.fa-check
                                                p Còn hàng
                                            li
                                                button.button.btn-success(onclick='onClick()') Thêm vào đơn
                                .col-12.product.product-catalog.cam
                                    .img-pro.format-img
                                        img(src='/images/cam.jpg', alt='')
                                    .format-put
                                        ul
                                            li
                                                a(href='#') Cám G88
                                            li
                                                span.price 190.000 đ/ 25Kg
                                            li
                                                i.fas.fa-check
                                                p Còn hàng
                                            li
                                                button.button.btn-success(onclick='onClick()') Thêm vào đơn
                                .col-12.product.product-catalog.cam
                                    .img-pro.format-img
                                        img(src='/images/cam-gao.png', alt='')
                                    .format-put
                                        ul
                                            li
                                                a(href='#') Cám gạo
                                            li
                                                span.price 150.000 đ/ 25Kg
                                            li
                                                i.fas.fa-check
                                                p Còn hàng
                                            li
                                                button.button.btn-success(onclick='onClick()') Thêm vào đơn
                            .col-12.col-md-6
                                .title-product
                                    span
                                        img#icon-ga(src='/icon/con-ga.svg', alt='')
                                        |  Thức Ăn Cho gia cầm
                                .col-12.product.product-catalog.ga
                                    .img-pro.format-img
                                        img(src='/images/bot-cho-ga-con.jpg', alt='')
                                    .format-put
                                        ul
                                            li
                                                a(href='#') Bột cho gà con
                                            li
                                                span.price 260.000 đ/ 25Kg
                                            li
                                                i.fas.fa-check
                                                p Còn hàng
                                            li
                                                button.button.btn-success(onclick='onClick()') Thêm vào đơn
                                .col-12.product.product-catalog.ga
                                    .img-pro.format-img
                                        img(src='/images/bot-cho-ga.png', alt='')
                                    .format-put
                                        ul
                                            li
                                                a(href='#') Bột cho gà hỗn hợp
                                            li
                                                span.price 210.000 đ/ 25Kg
                                            li
                                                i.fas.fa-check
                                                p Hết hàng
                                            li
                                                button.button.btn-success(onclick='onClick()') Thêm vào đơn
                                .col-12.product.product-catalog.vit
                                    .img-pro.format-img
                                        img(src='/images/bot-cho-vit.jpg', alt='')
                                    .format-put
                                        ul
                                            li
                                                a(href='#') Bột cho vịt
                                            li
                                                span.price 270.000 đ/ 25Kg
                                            li
                                                i.fas.fa-check
                                                p Còn hàng
                                            li
                                                button.button.btn-success(onclick='onClick()') Thêm vào đơn
                                .col-12.product.product-catalog.ga
                                    .img-pro.format-img
                                        img(src='/images/bot-ga-thit.png', alt='')
                                    .format-put
                                        ul
                                            li
                                                a(href='#') Bột cho gà thịt
                                            li
                                                span.price 210.000 đ/ 25Kg
                                            li
                                                i.fas.fa-check
                                                p Hết hàng
                                            li
                                                button.button.btn-success(onclick='onClick()') Thêm vào đơn
                    .col-xs-12.col-sm-12.col-md-2.tintuc-2
                        .art-layout-cell.art-sidebar2
                            .art-vmenublock.clearfix
                                .art-vmenublockheader
                                    h3.t Tin mới nhất
                                .art-vmenublockcontent
                                    ul.art-vmenu
                                        li
                                            a(href='#') Lúa gạo tăng
                                        li
                                            a(href='#') Thức ăn chăn nuôi đổi
                                        li
                                            a(href='#') Giá sản phầm giảm nhẹ
                                        li
                                            a(href='#') Cất trữ thu lợi nhuận
                                .art-vmenublockheader
                                    h3.t Hình ảnh sản phẩm
                                .art-vmenublockcontent.wave
                                    ul.art-vmenu.text-center
                                        li
                                            a(href='#')
                                                img#img-sp(src='/images/gao-khang-dan.jpg', alt='')
                                        li
                                            a(href='#')
                                                img#img-sp(src='/images/thuc-an-chan-nuoi.jpg', alt='')