extends layout

include _includes/sharedHTMLfunctions

block head
    link(rel='stylesheet', href='/css/order.css')

block content
    .container
        .b-order
            .order
                span Đơn hàng của bạn
            .product-ifo
                ul
                    li#product Sản phẩm
                    li#price Giá
                    li#amount-order Số lượng
                    li#total Tổng cộng
                +showCart(cart)
                .ifo-order
                    .title-pro
                        li.img-pro-order
                            img(src='images/gokhangdan.jpg', alt='')
                        li.name-product
                            span Gạo khang dân
                        li.product-price 460.000 đ
                        li.product-quantity
                            input.input-text(type='number', step='1', min='0', name='', value='2', title='SL', size='4')
                        li 460.000 đ
                        li.product-remove
                            a(href='') X
            .sum-price
                h3 Thành tiền
                .sum-title
                    .fl-l Tổng cộng
                    .fl-r #{thanhTien}
                div
                    a(href='#', data-toggle='modal', data-target='#dathang') Đặt hàng
                #dathang.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h5#exampleModalLabel.modal-title Điền thông tin đặt hàng
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true') ×
                                    // Dấu đóng cửa sổ
                            .modal-body
                                input(type='text', placeholder=' Tên khách hàng')
                                br
                                br
                                input(type='text', placeholder=' Địa chỉ giao hàng')
                                br
                                br
                                input(type='text', placeholder=' SĐT')
                            .modal-footer
                                button.btn.btn-warning(type='button', data-dismiss='modal') Đóng
                                button#bt.btn.btn-primary(type='button') Hoàn tất